@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');

:root {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #170f19;
    --color-fg-1: #d299f4;
    --color-fg-2: #d299f4;
    --color-fg-1-hover: #b454ee;
    --color-border: #b454ee;
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/OpenSans-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background: var(--color-bg);
}

#container {
  height: 100vh;
  min-height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
}

@media only screen and (max-width: 1200px) {
  #container #main .links * {
    display: none;
  }
}

#container #main .links {
  text-align: center;
  width: 90vw;
  max-width: 540px;
}

#container #main .links .border {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid var(--color-border);
  border-top: 1.5px solid var(--color-border);
}

#container #main .links .border a {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 40px;
  color: var(--color-fg-1);
}

#container #main .links .border i {
  color: var(--color-fg-1);
  transition: color .08s ease-in-out;
}

#container #main .links .border i:hover {
  color: var(--color-fg-1-hover);
}

#container #main .searchbar {
  padding-bottom: 15px;
}

#container #main .searchbar input {
  height:40px;
  width: 40vw;
  max-width: 540px;
  padding-bottom: 0px;
  padding-top: 15px;
  border: none;
  font-family: "Open Sans";
  font-size: 24px;
  text-align: center;
  color: var(--color-fg-1);
  background: var(--color-bg);
  border-bottom: 0px solid var(--color-border);
  border-top: 1.5px solid var(--color-border);
  transition: border-color .4s ease-out;
}

#container #main .searchbar input::placeholder {
  color: var(--color-fg-2);
  opacity: 1;
}

#container #main .searchbar input:focus::placeholder {
  opacity: 0;
}

#container #main .searchbar input:focus {
  outline: none;
}